/* BASIC STYLE */
body{font-family: Helvetica, Arial, sans-serif;}

/** UTILITY CLASSES **/
/* Displays */
.none{display: none;}
.block{display: block;}
.inline-block{display: inline-block;}
.grid{display: grid;}
.flex{display: flex;}

/*** COLORS CLASSES ***/
// create color classes
.bg {
    @each $key, $value in $colors-map {
        &-#{$key} {
         background-color: $value;
         color: #ffffff;  
       }
      }
    }