/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

ul,
ul li{
    list-style: none;
}
a{text-decoration: none;}

img{
    max-width: 100%;
    height: auto;
}