/* BASIC AND RESET CSS
for didactic purpose by Francesco Riggio
Palette from coolors.co in :root with simpler names
*/

/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
ul,
ul li{
    list-style: none;
}
a{text-decoration: none;}

/* CSS HEX */
:root{
--red: #d33f49ff;
--violet: #d7c0d0ff;
--beige: #eff0d1ff;
--green: #77ba99ff;
--black: #262730ff;
}


/* BASIC STYLE */
body{font-family: Helvetica, Arial, sans-serif;}

/** USEFUL CLASSES **/
/* Displays */
.none{display: none;}
.block{display: block;}
.inline-block{display: inline-block;}
.grid{display:grid;}
.flex{display: flex;}

/* Background colors from palette */
.bg-red{background-color: var(--red);}
.bg-violet{background-color: var(--violet);}
.bg-beige{background-color: var(--beige);}
.bg-green{background-color: var(--green);}
.bg-black{background-color: var(--black);}

/* Text colors from palette */
.red{color: var(--red);}
.violet{color: var(--violet);}
.beige{color: var(--beige);}
.green{color: var(--green);}
.black{color: var(--black);}

.white{color: white;}

